.flexBox {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
}

.copyButton {
    background-color: transparent;
    padding: 2px;
}

.copyImg {
    width: 20px;
    filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
    cursor: pointer;
    padding: 0;
}